<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <link rel="stylesheet" href="../dist/output.css">
    <link rel="shortcut icon" href="../src/images/3456426.png" type="image/x-icon">
</head>
<body class="bg-[url('https://png.pngtree.com/thumb_back/fw800/back_our/20190628/ourmid/pngtree-original-square-diamond-pure-black-banner-background-image_273735.jpg')] bg-cover bg-no-repeat bg-fixed bg-center">
    

    <div id="main">
        <div class="flex items-center justify-center h-screen">
            <div class="bg-[#0E0E15] rounded-md  shadow-slate-700 w-full mx-3 md:mx-0 p-3 shadow-md bg-opacity-70 md:w-1/4 ">
                <div>
                    <h1 class="text-center text-2xl font-relaway text-white font-bold drop-shadow-lg shadow-white"><span class="text-[#CC2121]">Apex</span><span class="text-[#8589E4] ">Yazılım</span></h1>
                    
                </div>
                <form action="" class="flex flex-col items-center ">
                    <input type="text" placeholder="Full name" class="input ">
                    <input type="text" placeholder="E-Mail"  class="input ">
                    <input type="password" placeholder="Password"  class="input ">
                    <input type="password" placeholder="Confirm password" class="input ">
                    <button class="btn">Create Account</button>
                </form>
                <p class="text-white text-sm font-medium mt-4">
                    By clicking “Create Account” you agree to our
                    <a href="" class="font-bold">terms</a> and <a href=""  class="font-bold">privacy policy.</a>
                </p>

            </div>
        </div>

    </div>

</body>
</html>