<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Page</title>
    <link rel="stylesheet" href="../dist/output.css">
    <link rel="shortcut icon" href="../src/images/755014.png" type="image/x-icon">
</head>
<body class="">

    <header>
        <nav>
            <h2 class="uppercase font-bold md:text-2xl leading-6 text-nav_title md:mt-10 md:ml-77 mt-4 ml-10 text-xl ">404 not found</h2>
        </nav>
    </header>

    <main>
        <section class="items-center flex max-w-screen ">
            <div class="flex flex-col justify-center mx-auto mt-36 md:flex-row">
                <div>
                    <img src="../src/images/Scarecrow.png" alt="" class="w-1/2  ml-24">
                </div>
                <div class="ml-14">
                    <h1 class="font-mono max-w-screen md:w-5/6 md:text-5xl font-bold leading-normal text-3xl mt-10">I have bad news for you</h1>
                    <p class="w-9/12 md:w-1/2 font-spacemono md:text-2xl text-[#4F4F4F] mt-4 text-xl ">The page you are looking for might be removed or is temporarily unavailable</p>

                    <button class="border bg-neutral-700 text-white px-6 py-3 mt-7 uppercase font-spacemono text-xs hover:bg-transparent hover:border-neutral-800 hover:text-black duration-150 outline outline-offset-1 hover:outline-gray-700">Back To HomePage</button>
                </div>
            </div>
        </section>
    </main>
    
</body>
</html>